/*
 * Page wide element settings.
 */

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
div,
html
{
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
}

body {
  font: normal normal 400 normal 16px/1.4 "Open Sans", sans-serif;
  color: #2d3c49;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
  color: #2d3c49;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 24px;
  color: #999;
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
  font-style: italic;
  color: #666;
  padding: 10px 0;
}

h4 {
  font-size: 18px;
  font-weight: 400;
}

a,
a:link,
a:visited {
  color: #1199c3;
  text-decoration: none;
}

a:link:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
  margin: 1em 0;
  padding: 0;
}

.row {
  padding: 40px 5%;
}

.clear-fix {
  overflow: auto;
}

.gray {
  background-color: #f3f3f3;
}

.dark-gray {
  background-color: #4a4a4a;
}

.date-text {
  width: auto;
  float: left;
  font-style: italic;
  color: #999;
}

.location-text {
  width: auto;
  float: right;
  font-style: italic;
  color: #999;
}

/**
 * Header.
 */

#header {
  position: relative;
  overflow: hidden;
  min-height: 350px;
}

#header:before {
  background-image: url(../images/web-developer-960x300.jpg);
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 1.0;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.center-content {
  padding: 2.5% 5%;
}

#name {
  font-size: 34px;
  color: #fff;
  display: inline;
  border-bottom: 2px solid #fff;
}

.job-title {
  font-size: 20px;
  color: #fff;
}

.biopic {
  padding: 0;
  width: 200px;
  border-radius: 50%;
  border: 6px solid #fff;
  margin: -100px 0 0 5%;
}

.welcome-container {
  margin-top: -100px;
  padding-top: 120px;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #333;
}

/**
 * Contacts.
 */

.contacts {
  width:100%;
  float: right;
  padding: 0 5%;
  line-height: 1.8;
  text-align: center;
  margin-bottom: 30px;
}

.contacts ul {
  width:100%;
}

.contacts li {
  display: inline-block;
  margin-right: 1em;
}

.contacts li:last-child {
  margin-right: 0;
}

.flex-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-type {
  color: coral;
  padding-right: 4px;
}

.contact-type:after {
  content: ":";
}

/**
 * Technical Skills.
 */

#skills li.flex-item {
  margin: 1em;
}

.flex-column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-text {
  border-radius: 0 5px 5px 0;
  padding: 0.5em 1em;
  border: 1px solid #ccc;
  color:#666;
}

/**
 * Work Experience.
 */

.work-entry {
  margin: 10px 0;
  padding: 20px 0;
  border-bottom: 1px dashed #ccc;
}

.work-entry:first-of-type {
  padding-top: 10px;
}

.work-entry:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
}

/**
 * Projects.
 */

.project-entry {
  margin: 10px 0;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}

.project-entry:first-of-type {
  padding-top: 10px;
}

.project-entry:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
}

.flex-images {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.flex-images img {
  max-width: 100%;
  margin: 0 0 1em 0;
  padding: 0;
}

/**
 * Educaton.
 */

.education-entry {
  margin-bottom: 20px;
}

.online-heading {
  margin: 20px 0;
  padding: 0;
}

a:link.online-school-link,
a:visited.online-school-link {
  color: #333;
  margin: 0;
  font-style: italic;
}

.date-text-online {
  font-style: italic;
  color: #999;
  float: none;
}

/**
 * Map.
 */

#mapDiv {
  min-height: 540px;
}

#map {
  height: 400px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.marker-content {
  max-width: 200px;
}

/**
 * Footer.
 */

#lets-connect {
  clear: both;
  text-align: center;
}

#lets-connect h2 {
  padding: 10px;
}

#footerContacts {
  padding: 0 5%;
  margin: 0;
  line-height: 1.8;
}

#footerContacts li {
  display: inline-block;
  margin-right: 1em;
}

#footerContacts li:last-child {
  margin-right: 0;
}

/*
 * Header h1 name is smaller to start.
 * Here I increase the font-size just a bit.
 */

@media screen and (min-width: 370px) {
  #name {
    font-size: 38px;
  }
}

/*
 * Contacts are centered on the page to start.
 * Here I float them left under the header image.
 */

@media screen and (min-width: 750px) {
  .contacts {
    width:65%;
    float: right;
    text-align: right;
    padding: 0 5% 0 0;
    margin-bottom: 20px;
  }
}